<header>
    <app-navbar></app-navbar>
    <div class="wave" style="height: 150px; overflow: hidden;" ><svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;"><path d="M0.00,49.99 C150.00,150.00 349.20,-49.99 500.00,49.99 L500.00,150.00 L0.00,150.00 Z" style="stroke: none; fill: #fff;"></path></svg></div>
    <div class="textos-header">
        <h1>Potencia tus ventas al menos un 200%</h1>
        <h2>con un página web potente</h2>
    </div>
</header>
<body>
    

<main>
    <section class="contenedor sobre-nosotros">
        <h2 class="titulo">Nuestro productos</h2>
        <div class="contenedor-sobre-nosotros">
            <img src="../../../assets/img/img_1.png" alt="" class="imagen-about-us">
            <div class="contenido-textos">
                <h3><span>1</span>Los mejores productos</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Id quod blanditiis fugit, dolore quae incidunt ipsum? Eos veritatis odit, nesciunt laboriosam, officiis necessitatibus adipisci sit architecto hic, qui placeat nemo.</p>
                <h3><span>2</span>Los mejores productos</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Id quod blanditiis fugit, dolore quae incidunt ipsum? Eos veritatis odit, nesciunt laboriosam, officiis necessitatibus adipisci sit architecto hic, qui placeat nemo.</p>
            </div>
        </div>
    </section>
    <section class="portafolio">
        <div class="contenedor">
            <div class="galeria-port">
                <div class="imagen-port">
                    <img src="../../../assets/img/img_2.png" alt="">
                    <div class="hover-galeria">
                        <img src="../../../assets/img/mundo-digital.png" alt="">
                        <p>Nuestro trabajo</p>
                    </div>
                </div>
                <div class="imagen-port">
                    <img src="../../../assets/img/img_1.png" alt="">
                    <div class="hover-galeria">
                        <img src="../../../assets/img/mundo-digital.png" alt="">
                        <p>Nuestro trabajo</p>
                    </div>
                </div>
                <div class="imagen-port">
                    <img src="../../../assets/img/img_2.png" alt="">
                    <div class="hover-galeria">
                        <img src="../../../assets/img/mundo-digital.png" alt="">
                        <p>Nuestro trabajo</p>
                    </div>
                </div>
                <div class="imagen-port">
                    <img src="../../../assets/img/img_1.png" alt="">
                    <div class="hover-galeria">
                        <img src="../../../assets/img/mundo-digital.png" alt="">
                        <p>Nuestro trabajo</p>
                    </div>
                </div>
                <div class="imagen-port">
                    <img src="../../../assets/img/img_1.png" alt="">
                    <div class="hover-galeria">
                        <img src="../../../assets/img/mundo-digital.png" alt="">
                        <p>Nuestro trabajo</p>
                    </div>
                </div>
                <div class="imagen-port">
                    <img src="../../../assets/img/img_1.png" alt="">
                    <div class="hover-galeria">
                        <img src="../../../assets/img/mundo-digital.png" alt="">
                        <p>Nuestro trabajo</p>
                    </div>
                </div>
                <div class="imagen-port">
                    <img src="../../../assets/img/img_1.png" alt="">
                    <div class="hover-galeria">
                        <img src="../../../assets/img/mundo-digital.png" alt="">
                        <p>Nuestro trabajo</p>
                    </div>
                </div>
                
               
            </div>
        </div>
    </section>
    <section class="clientes contenedor">
        <h2 class="titulo">Que dicen nuestros clientes</h2>
        <div class="cards">
            <div class="card">
                <img src="../../../assets/img/face1.jpg" alt="">
                <div class="contenido-texto-card">
                    <h4>Name</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos quae quam eius amet? Magnam libero laborum, tenetur assumenda consequatur ea odit neque sit tempora nam, vitae nostrum amet in excepturi.</p>
                </div>
            </div>
            <div class="card">
                <img src="../../../assets/img/face2.jpg" alt="">
                <div class="contenido-texto-card">
                    <h4>Name</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos quae quam eius amet? Magnam libero laborum, tenetur assumenda consequatur ea odit neque sit tempora nam, vitae nostrum amet in excepturi.</p>
                </div>
            </div>
        </div>
    </section>
    <section class="about-services">
        <div class="contenedor">
            <h2 class="titulo">Nuestros servicios</h2>
            <div class="servicio-cont">
                <div class="servicio-ind">
                    <img src="../../../assets/img/mundo-digital.png" alt="">
                    <h3>Name</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores, obcaecati.</p>
                </div>
                <div class="servicio-ind">
                    <img src="../../../assets/img/mundo-digital.png" alt="">
                    <h3>Name</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores, obcaecati.</p>
                </div>
                <div class="servicio-ind">
                    <img src="../../../assets/img/mundo-digital.png" alt="">
                    <h3>Name</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores, obcaecati.</p>
                </div>
            </div>
        </div>
    </section>
</main>
<footer>
    <div class="contendor-footer">
        <div class="content-foo">
            <h4>Phone</h4>
            <p>+502 35515149</p>
        </div>
        <div class="content-foo">
            <h4>Email</h4>
            <p>kevin.romane99@gmail.com</p>
        </div>
        <div class="content-foo">
            <h4>Location</h4>
            <p>Guatemala</p>
        </div>
        <h2 class="titulo-final">&copy; Kevin Roman Design | KevRoman</h2>
    </div>
</footer>
</body>